<div class="profile-container">
    <div class="profile-header">
      <div class="profile-info">
        <div class="avatar">
          <img *ngIf="user.profilPhoto" [src]="user.profilPhoto" alt="Avatar" />
          <span *ngIf="!user.profilPhoto">{{ user.nom.charAt(0) || 'U' }}</span>
        </div>
        <div class="user-text">
          <h2>{{ user.nom }}</h2>
          <p class="email">{{ user.email }}</p>
          <p class="city">{{ user.ville }}</p>
        </div>
      </div>
  
      <!-- Le bouton doit être ici -->
      <button class="edit-btn" (click)="isEditing = !isEditing">
        {{ isEditing ? 'Cancel' : 'Edit Profile' }}
      </button>      
    </div>

    <!-- MODAL -->
    <div class="modal-backdrop" *ngIf="isEditing" (click)="isEditing = false"></div>

    <div class="modal" *ngIf="isEditing">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <h3>Edit Profil</h3>
        <form (ngSubmit)="onSubmit()" #editForm="ngForm" class="edit-form">
          <input type="text" name="nom" [(ngModel)]="user.nom" placeholder="Nom" required />
          <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required />
          <input type="text" name="ville" [(ngModel)]="user.ville" placeholder="Ville" />
          <input
          type="password"
          name="motDePasse"
          [(ngModel)]="newPassword"
          placeholder="••••••••" />
          <div class="modal-actions">
            <button type="submit" class="cta">Sauvegarder</button>
            <button type="button" class="cancel" (click)="isEditing = false">Annuler</button>
          </div>
        </form>
      </div>
    </div>

  
    <div class="tabs">
      <div class="tab" [class.active]="activeTab === 'places'" (click)="activeTab = 'places'">Places</div>
      <div class="tab" [class.active]="activeTab === 'reviews'" (click)="activeTab = 'reviews'">Reviews</div>
      <div class="tab" [class.active]="activeTab === 'favorites'" (click)="activeTab = 'favorites'">Favorites</div>
    </div>
  
    <div class="content-box" *ngIf="activeTab === 'places'">
      <div class="title">No places yet</div>
      <div class="desc">You haven't added any places yet.</div>
      <button class="cta">Add Your First Place</button>
    </div>

    <div class="content-box" *ngIf="activeTab === 'favorites'">
      <div *ngIf="transformedFavorites.length > 0; else noFavorites">
        <div class="grid">
          <app-place-card
            *ngFor="let fav of transformedFavorites"
            [place]="fav"
            [isFavorite]="true"
            [showRemoveButton]="true"
            (remove)="deleteFavorite(fav.placeId)">
          </app-place-card>
        </div>
      </div>

      <ng-template #noFavorites>
        <div class="title">No favorites yet</div>
        <div class="desc">You haven't added any favorites yet.</div>
      </ng-template>
    </div>




  </div>
  