<div class="sidebar">
    <div>
      <div class="logo">LocalSpot</div>
      <div class="nav-links">
        <div class="nav-link active"><i class="fa fa-home"></i> Home</div>
        <div class="nav-link"><i class="fa fa-search"></i> Explore</div>
        <div class="nav-link"><i class="fa fa-map"></i> Map</div>
        <div class="nav-link"><i class="fa fa-user"></i> Profile</div>
        <div class="nav-link"><i class="fa fa-bookmark"></i> Saved</div>
        <div class="nav-link"><i class="fa fa-users"></i> Community</div>
      </div>
    </div>
  
    <div>
      <div class="nav-link"><i class="fa fa-moon"></i></div>
      <div class="nav-link" (click)="logout()">
        <i class="fa fa-sign-out"></i> Logout
      </div>            
    </div>
  </div>
  